colorama==0.4.6
iniconfig==2.3.0
logging==0.4.9.6
numpy==2.5.0
packaging==26.2
pandas==3.0.4
pluggy==1.6.0
prompt-toolkit==3.0.36
Pygments==2.20.0
pytest==9.1.1
python-dateutil==2.9.0.post0
questionary==2.0.1
six==1.17.0
tzdata==2026.2
wcwidth==0.8.1